// ---------шаблони----------

%tpl-button {
  width: 210px;
  height: 60px;

  white-space: nowrap;
  border-radius: 50px;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}

%tpl-hover {
  transition: 1s;
  background-color: #FFFFFF;
  border: 1px solid #3B5998;
  opacity: 1;

  .icon {
    transition: 0.5s;
    fill: #3B5998;
    opacity: 1;
  }

  .icon:hover {
    transition: 1s;
    fill:#3B5998;
    opacity: 1;
  }
}
//----------------general------------

body {
  width: 100%;
  background-color: #FFFFFF;
}

.wrapper {
  max-width: 1600px;
  padding: 0 215px;
  margin: 0 auto;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 120px;
}

.save-data__header {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%; 
  color: #212353; 
}

.title {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}

.subtitle {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #212353;

  z-index: 2;
}

.testimonials__subtitle {
  font-size: 16px;
  line-height: 160%;
  color: #212353;
}

.card-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  z-index: 2;
}

.mail {
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #9C69E2;
}

.menu {
  font-size: 16px;
  line-height: 160%;

  &__item:hover {
    color: #8A40EE;
    transition: 0.5s ease 0s;
  }
}

.logo {
  width: 45px;
  height: 35px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;

  &-violet {
    width: 18px;
    height: 20px;
    background-color: #9C69E2;
    border-radius: 20px;
  }

  &-pink {
    width: 18px;
    height: 35px;
    background-color: #F063B8;
    border-radius: 20px;
  }
}

// ----------buttons----------------

.button-demo {
  @extend %tpl-button;

  padding-right: 23px;

  background-color: #FFFFFF;

  font-size: 16px;
  line-height: 160%;
  color: #212353;
}

.block__button {
  position: relative;
}

.arrow {
  position: absolute;
  z-index: 2;
  top: 23px;
  right: 23px;
}

.block__button:hover .button-demo {
  transition: 1s;
  background-color: #9C69E2;
  color: #FFFFFF;
}

.block__button:hover .arrow-white {
  transition: 1s;
  stroke: #FFFFFF;
}

.block__button:hover .button-demo:hover {
  transition: 0.5s;
}

//------------general-media---------------

@media (max-width: 1550px) {
  .wrapper {
    padding: 0 135px;
  }
}

@media (max-width: 1400px) {
  .wrapper {
    padding: 0 90px;
  }
}

@media (max-width: 1200px) {
  .main {
    gap: 80px;
  }

  .save-data__header {
    font-size: 60px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 30px;
  }

  .main {
    gap: 60px;
  }

  .button-demo {
    width: 160px;
    height: 55px;

    padding-right: 0px;

    font-size: 16px;
    line-height: 160%;
  }

  .arrow {
    display: none;
  }
}

@media (max-width: 576px) {
  .save-data__header {
    font-size: 45px;
    line-height: 110%;  
  }

  .title {
    font-size: 33px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    font-size: 16px;
    line-height: 160%;
  }

  .card-content {
    font-size: 14px;
    line-height: 160%;
  }
}

@media (max-width: 360px) {
  .wrapper {
    padding: 0 15px;
  }
  
  .main {
    gap: 40px;
  }
}
